{% extends 'base.html' %}

{% block content %}
    <div class="flex items-center w-full h-40">
        <h2>Inscrivez-vous</h2>
    </div>
    <div class="w-[350px]">
        <ul class="error h-24 text-center">
            {% if form.errors %}
                {% for field in form %}     
                    {% for error in field.errors %}
                        {% if field.label == 'Username' %}
                            <li>Ce nom d'utilisateur est déjà utilisé</li>
                        {% else %}
                            <li>{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
        <form action="" method="post" class="label-none">
            {{ form }}
            {% csrf_token %}
            <div class="flex justify-between my-4">
                <a href="{% url 'home' %}" class="btn px-11 py-2">Retour</a>
                <button type="submit" class="btn px-10 py-2">S'inscrire</button>
            </div>
        </form>
    </div>
{% endblock %}