{% extends 'base.html' %}

{% block content %}

    <div class="flex items-center justify-around h-40 w-full">
        <a href="{% url 'create_ticket' %}" class="btn px-11 py-2">Demander une critique</a>
        <a href="{% url 'create_review' %}" class="btn px-11 py-2">Créer une critique</a>
    </div>

    <div class="flex flex-col gap-4 w-full">
        {% for post in posts %}

            {% if post.content_type == 'TICKET' %}       
                {% include 'review/partials/ticket_snippet.html' %}

            {% elif post.content_type == 'REVIEW' %}
                {% include 'review/partials/review_snippet.html' %}

            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}