{% extends 'base.html' %}

{% block content %}

    <div class="w-full">
        <h2 class="flex items-center justify-center h-24">Suivre d'autres utilisateurs</h2>
        <form method="post" class="label-none flex items-center">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="btn px-4 py-1 ml-8">Envoyer</button>
        </form>

        <h2 class="flex items-center justify-center h-24">Abonnements</h2>
        <ul class="flex flex-col justify-around items-center gap-2 p-2">
            {% for follow in followed %}
                <li class="card-light flex justify-between items-center w-full p-4 h-16">
                    <p>{{ follow.followed_user }}</p>
                    <a href="{% url 'unfollow' id=follow.followed_user.pk %}" class="btn px-4 py-1">Désabonner</a>
                </li>
            {% endfor %}
        </ul>

        <h2 class="flex items-center justify-center h-24">Abonnés</h2>
        <ul class="flex flex-col justify-around items-center gap-2 p-2">
            {% for follower in followers %}
                <li class="card-light flex justify-between items-center w-full p-4 h-16">
                    <p class="p-2">{{ follower.user }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}