{% extends 'base.html' %}

{% block content %}

    <div class="flex items-center w-full h-40">
        <h2>Vos posts</h2>
    </div>

    <div flex class="flex flex-col gap-4 w-full">
        {% for post in posts %}

            {% if post.content_type == 'TICKET' %}
                <div class="card-medium p-4">
                    {% include 'review/partials/ticket_snippet.html' %}

            {% elif post.content_type == 'REVIEW' %}
                <div class="card-light p-4">
                    {% include 'review/partials/review_snippet.html' %}

            {% endif %}
                    <a href="{% url 'update' content_type=post.content_type|lower id=post.id %}"
                    class="btn px-4 py-1 m-4">Modifier</a>
                    <a href="{% url 'delete' content_type=post.content_type|lower id=post.id %}"
                    class="btn px-4 py-1">Supprimer</a>
                </div>

        {% endfor %}
    </div>

{% endblock %}
