{% extends 'base.html' %}

{% block content %}
    <div class="flex items-center w-full h-40">
        <h2 class="text-2xl text-cyan-100 font-semibold">Vos posts</h2>
    </div>
    <div flex class="flex flex-col gap-4 w-full">
        {% for post in posts %}
            <div class="bg-cyan-100 rounded-xl p-4">
                {% if post.content_type == 'TICKET' %}
                {% include 'review/partials/ticket_snippet.html' %}
                {% elif post.content_type == 'REVIEW' %}
                {% include 'review/partials/review_snippet.html' %}
                {% endif %}
                <a href="{% url 'update' content_type=post.content_type|lower id=post.id %}">Modifier</a>
                <a href="{% url 'delete' content_type=post.content_type|lower id=post.id %}">Supprimer</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}