{% extends 'base.html' %}

{% block content %}

    <div class="flex items-center w-full h-40">
        <h2>Créer une critique</h2>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-post mb-6 p-6">
            <p class="text-center text-lg">Livre / Article</p>
            {{ ticket_form }}
        </div>
        <div class="form-post mb-6 p-6">
            <p class="text-center text-lg">Critique</p>
            {{ review_form }}
            {% csrf_token %}
        </div>
        <div class="flex justify-center w-full">
            <button type="submit" class="btn px-8 py-1">Envoyer</button>
        </div>
    </form>

{% endblock %}