{% extends 'base.html' %}

{% block content %}

    <div class="flex items-center w-full h-40">
        <h2>Modifier votre ticket</h2>
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="form-post p-6" id="modify-ticket">
        <div class="modify-img-none">
            {{ form }}
        </div>
        <div id="test" class="flex flex-col">
            <p class="mb-3">Image :</p>
            <img src="{{ img.url }}" alt="{{ img }}" class="w-40">
            {{ form.image }}
            {% csrf_token %}
        </div>
        <button type="submit" class="btn px-8 py-1">Modifier</button>
    </form>
    
{% endblock %}