<div class="nav-ctn">
    <div class="text-2xl font-bold">
        {% if posts.has_previous %}
        <a href="?page=1" class="nav-btn"><<</a>
        <a href="?page={{ posts.previous_page_number }}" class="nav-btn"><</a>
        {% endif %}
    </div>
    
    <div class="text-center">
        Page {{ posts.number }}
    </div>
    <div class="text-2xl font-bold">
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="nav-btn">></a>
        
        <a href="?page={{ posts.paginator.num_pages }}" class="nav-btn">>></a>
        {% endif %}
    </div>
</div>