{% load tz %}

<div class="card-medium p-4">
    
    <div class="flex justify-between">
        <div>
            {% if post.user == user %}
            <p>Vous avez demandé une critique</p>
            {% else %}
            <p>{{ post.user }} a demandé une critique</p>
            {% endif %}
            <p class="text-xl">{{ post.title }}</p>
            <p>{{ post.description }}</p>
        </div>
        <p>{{ post.time_created|timezone:"Europe/Paris" }}</p>
    </div>

    {% if post.image %}
    <img src="{{ post.image.url }}" alt="image: {{ post.image }}" class="p-4">
    {% endif %}

    {% if not post.response %}
    <div class="flex justify-end items-center h-12 w-full">
        <a href="{% url 'ticket_response' id=post.id %}" class="btn px-10 py-1">Créer une critique</a>
    </div>
    {% endif %}

</div>
