* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: blanchedalmond;
}

a {
    color: rgb(55, 25, 128);
    padding: 10px;
}

h2 {
    padding: 20px;
}

/* navigation bar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(177, 116, 25);
}

nav ul {
    display: flex;
}

/* home page*/

.flex_ctn_2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.register {
    margin: auto;
    text-align: center;
}

.login {
    margin: auto;
    text-align: center;
}

/* signup page*/

.flex_ctn_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup_content {
    margin: auto;
    text-align: center;
}

/* page flux */

.flux_head {
    display: flex;
    justify-content: center;
    padding: 50px;
}